body {
    background-color: #eee;
    color: #000000;
    margin: 0px;
	font-family: Calibri, Dejavu Sans Mono;
	font-size: 14px;
}

a {
	text-decoration: none;
}

a:active {color: #990099}
a:visited {color: #0000FF}
a:link {color: #0000FF}
a:hover {color: #990099}

input, select, textarea {
    background-color: #FFFFFF;
    border: solid 1px #000000;
}

div#sidebar {
    background-color: #000066;
    color: #FFFFFF;
    position: fixed;
    left: 0px;
    width: 10em;
    top: 0px;
    bottom: 0px;
    z-index: 2;
    overflow: auto;
    padding: 0.5em;
}

div#sidebar a:active { color: #66FF66 }
div#sidebar a:visited { color: #FFFF00 }
div#sidebar a:link { color: #FFFF00 }
div#sidebar a:hover { color: #66FF66 }

div#sidebar li, ul {
	list-style: none;
	list-style-position:inside;
}

div#sidebar ul {
	padding: 0px;
}

div#sidebar li {
	padding: 8px;
	border-top: 1px #fff solid;
}

div#sidebar li:hover {
	cursor: pointer;
	background-color: #009;
	padding-left: 20px;
}

div#iebox {
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
}

div#topbar {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #DDD;
    color: #CCCCCC;
    margin-left: 11em;
    text-align: justify;
	border-bottom: #999 1px solid;
}

div#topbar a {
	display: block;
	float: left;
	padding: 8px;
}

div#topbar a:hover {
	background-color: #FFF;
}

div#content {
    margin-left: 11em;
    padding: 2em 0.5em 0px 0.5em;
}

